* {
  box-sizing: border-box;
}

body {
  font-family: "Alfa Slab One", cursive;
  background-color: #DDE5E2;
  color:#07150F;
  letter-spacing: 2px;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
header {
  display: flex;
  font-size: x-large;
  justify-content: space-around;
}

button {
  display:block;
  margin: 15px auto;
  height: 60px;
  width: 100px;
  border:none;
  border-radius: 12px;
  background-color: #6aac91;
  font-family: inherit;
}
.player-board-section {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  justify-content: center;
  text-align: center;
}
.cpu-board-section {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  justify-content: center;
  text-align: center;
}

.board {
  background-color: #6aac91 ;
  border: 2px solid #191919;
}

.board-wrapper {
  display: flex;
  justify-content: space-around;
}
.player-ship {
  background-color: #3E3E8C;
}
.cpu-ship {
  
}

.hit-ship {
  background-color: #D745FF;
}

.sunken-ship {
  background-color: #09092C;
}
.miss {
  background-color: #15392a;
}
